@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Indie+Flower&family=Inter:wght@100..900&family=Rowdies:wght@300;400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
.social-links-profile-main {
  background-color: hsl(0, 0%, 12%);
  font-family: "Inter", sans-serif;
  color: white;
  padding: 45px 15px 15px 30px;
  font-size: 14px;
  border-radius: 12px;
}
.social-links-profile-main__top {
  margin-bottom: 30px;
  text-align: center;
}
.social-links-profile-main__top .circle {
  margin-inline: auto;
  margin-bottom: 20px;
  width: 90px;
  height: 90px;
  background-image: url("../../assets/images/avatar-jessica.jpeg");
  background-size: contain;
  background-position: center;
}
.social-links-profile-main__top .title {
  font-size: 1.5rem;
  font-weight: 700;
}
.social-links-profile-main__top b {
  display: block;
  color: hsl(75, 94%, 57%);
  margin-bottom: 25px;
}
@media (min-width: 720px) {
  .social-links-profile-main__top {
    width: 340px;
  }
}
.social-links-profile-main__links ul ~ ul {
  margin-top: 20px;
}
.social-links-profile-main__links ul {
  display: block;
  width: 90%;
  margin-inline: auto;
  background-color: hsl(0, 0%, 20%);
  padding: 10px 0px;
  text-align: center;
  border-radius: 7px;
  pointer-events: visible;
  transition: background-color 0.8s ease;
}
.social-links-profile-main__links ul a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  cursor: url("../../assets/images/icons8-cursor-50.png"), auto;
}
.social-links-profile-main__links ul:hover {
  cursor: url("../../assets/images/icons8-cursor-50.png"), auto;
  background-color: hsl(75, 94%, 57%);
}
.social-links-profile-main__links ul:hover a {
  color: hsl(0, 0%, 8%);
}

body {
  background-color: hsl(0, 0%, 8%);
  padding-inline: 20px;
  display: grid;
  place-items: center;
  pointer-events: none;
  user-select: none;
}

.circle {
  border-radius: 50%;
}