

$yellow: hsl(47, 88%, 63%);

$white: hsl(0, 0%, 100%);

$gray500: hsl(0, 0%, 42%);
$gray950: hsl(0, 0%, 7%);




$green: hsl(75, 94%, 57%);
$grey700: hsl(0, 0%, 20%);
$grey800: hsl(0, 0%, 12%);
$grey900: hsl(0, 0%, 8%);


$font-size:1rem;

$font-family:  "Inter", sans-serif;

$fw5:500;
$fw8:800;
$border-radius:20px;
